body {
    background-color: #410E00;
    color: #D98E2E;
}

header {
    background-color: #582202;
    color: #D98E2E;
    text-align: center;
    padding: 40px 0;
    text-decoration: underline;
}

img {
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

footer {
    background-color: #582202;
    color: #D98E2E;
    text-align: center;
    padding: 20px;
}